.chef {
    padding: $section-padding;
    background-color: $background-color;
    &__img {
        max-width: 398px;
        margin: 0 auto 30px;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    &__text {
        @include text-style;
        margin: 30px 0;
    }
    &__content {
        font-size: 1.875rem;
        font-weight: 300;
        line-height: 137%;
        max-width: 939px;
        margin: 0 auto;
    }
}

@media screen and (max-width: 1024px) {
    .chef {
        padding: 80px 0;
        &__img {
            max-width: 282px;
        }
        &__text {
            font-size: $small-font;
        }
        &__content {
            font-size: $small-font;
            max-width: 691px;
        }
    }
}

@media screen and (max-width: 768px) {
    .chef {
        padding: 70px 0;
        &__img {
            max-width: 251px;
            margin-bottom: 20px;
        }
        &__text {
            font-size: 1.25rem;
            margin: 20px 0;
        }
        &__content {
            font-size: 1.25rem;
            max-width: 626px;
        }
    }
}