.header-container {
    @include flex-container;
    justify-content: space-between;
    max-width: 1190px;
    margin: 0 auto;
}

@media screen and (max-width: 1220px) {
    .header-container {
        padding-right: 31px;
        padding-left: 42px;
    }
}

@media screen and (max-width: 620px) {
    .header-container {
        flex-direction: column;
        padding-right: 8px;
        padding-left: 8px;
    }
}