.header {
    padding: 44px 0 45px;
    background-color: rgba(0, 0, 0, .42);
}

@media screen and (max-width: 1024px) {
    .header {
        padding: 13px 0;
    }
}

@media screen and (max-width: 768px) {
    .header {
        padding: 8px 0;
    }
}