.menu {
    font-size: $small-font;
    align-self: center;
    &__item {
        color: $secondary-color;
        transition: all .7s;
        &:hover {
            opacity: .3;
        }
        &:not(:last-child)::after {
            content: " ";
            display: inline-block;
            background-color: #d8d5d5;
            width: 16px;
            height: 1.5px;
            margin: 0 25px;
            vertical-align: middle;
            transform: rotate(-90deg);
        }
    }
}

@media screen and (max-width: 1024px) {
    .menu {
        font-size: 1.125rem;
        &__item:not(:last-child)::after {
            width: 13px;
        }
    }
}

@media screen and (max-width: 620px) {
    .menu {
        font-size: 1rem;
    }
}