.socials__link {
    display: inline-block;
    transition: all .7s;
    &:not(:last-of-type) {
        margin-right: 40px;
    }
    & i {
        font-size: 3.125rem;
        color: $secondary-color;
    }
    &:hover {
        transform: scale(2);
    }
}